<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<ng-template #content>
  <div class="modal-header">
    <h4 class="modal-title">Are you still there?</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Due to inactivity, you will be signed out in {{ finalCountdown }} seconds. To remain signed
      in, click <b>Continue</b>.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="logout()">Logout</button>
    <button type="button" class="btn btn-primary" (click)="stay()">Continue</button>
  </div>
</ng-template>
